
body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
h1{
    font-size: 50px;
    font-family: cursive;
}
h3{
    font-size: 30px;
    font-family: cursive;
}
p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
}
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  /* position: absolute; */
  bottom:0;
  width:100%;
  height:60px;
}
/* navbar */
.navbar{
    float: right;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.nav li{
    display: inline-block;
}
.nav li a{
    color:#000 black;
    text-decoration: none;
    padding:5px 10px;
    font-size: 20px;
}
.nav li a:hover{
    background:rgb(255, 255, 255);
    color: rgb(17, 6, 6);
}
.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    font-family: cursive;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000; 
}
/* end of navbar */
/* Start of homepage css */
.homebanner-area{
    position: relative;
    background-image: url(pet\ adoption\ homepage.jpg);
    text-align: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover ;
    background-size: cover;
}

.hometext-part{
    position:relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 150px

}
ul li{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-position: inside;
}
.btn{
    outline: none;
    border: 0;
    font-size: 16px;
    line-height: 1; 
    padding: 10px 20px;
    border-radius: 20px;
    background: #0081D5;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn:hover,
.btn:focus{
    background:darkblue;
}
.btn:active{
    background:lightskyblue;
}
.featuredbutton{
    outline: none;
    border: 0;
    font-size: 16px;
    line-height: 1; 
    padding: 10px 20px;
    border-radius: 20px;
    background: saddlebrown;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}
.featuredbutton:hover,
.featuredbutton:focus{
    background:darkblue;
}
.featuredbutton:active{
    background:lightskyblue;
}
.our-animal{
    background: rgb(156, 196, 196);
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 10px 0 20px;
    margin: 0px 15px;
    width: 30%;
}
.our-animal .pic img{
    width:50%;
    height:auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
/* end of homepage css */
/* Start About CSS */
.about-area{
    position: relative;
    background-image: url(about\ us\ background\ photo.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.abouttext-part{
    width: 65%;
    height: 80%;
    text-align: center;
}   
ul li{
    font-size:25px;
    font-family: cursive;
    text-align: center;
    list-style-position: inside;
}
.abouttext-part{
    font-size:50px;
    font-family:sans-serif;
}
.containerabout {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.our-team{
    background: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 30px 0 40px;
    margin: 0px 20px;
    width: 30%;

}
.our-team .pic img{
    width:100%;
    height:auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    
}
/* end of about CSS */
/* Start of Animals CSS */
.header-text-part{
    font-size:50px;
    font-family:sans-serif;
}

.text-part{
    font-size:50px;
    font-family:sans-serif;
    text-align: center;
}

table {
    border-spacing: 0 2px;
}

tr:nth-child(even) {
    background-color: #f2ded3;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

th {
    font:18px Verdana;
    font-weight: bold;
    color: #f2ded3;
    background-color: #b74e00;
}

td {
    font:14px Verdana;
    font-weight: bold;
}

table, th, td {
    padding: 5px;
    text-align: center;
}

/* images should scale down when needed, but never */
/* scale up beyond their original size */
img {
    max-width: 100%;
    height: auto;
}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

* {
  box-sizing: border-box;
}

fieldset {
  background: #f2ded3;
  border: 5px solid #b74e00;
}

legend {
  padding: 10px;
  background: #b74e00;
  color: #f2ded3;
}

.optionCategory {
  padding: 5px;
  width: 25%;
}

/* Style the header */
.animal-header {
  padding: 30px 10px 0px 10px;
  text-align: center;
  color: #f2ded3;
  background-color: #b74e00;
} */

 /* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}


/* End of Animals CSS */
/* Start of Lost and Found CSS */
.center {
    margin: auto;
    width: 100%;
    /* border: 3px solid #d67c15; */
    height: 100%;
    padding: 30px;
}

h2{
    font-size: 25px;
    font-family: cursive;
}

h4{
    font-size: 15px;
    font-family: cursive;
}

/* .lostandfound-area {
    background-image: url(background\for\lost\and\found.jpg);
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
} */
.form-page{
  text-align: center;
  border: 3px solid black;
  background-color:rgb(156, 196, 196)
}

/* End of Lost and Found CSS */






 /* START OF FAQ AND VOLUNTEER CSS */
/* body{
    margin: 0;
    padding: 0;
    font-family: cursive;
} */

/* Style the header */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the h1 element */
  /* .header h1 {
    font-size: 40px; */
  /* } */
  
  /* Change color on hover */
  /* .navbar a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Main column */
  .main {   
    flex: 70%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  /* .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  } */
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width:100%;
    }
  }
